{{#unless showSignUp}}
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <button {{action "signIn" "google"}} class="btn btn-lg btn-primary btn-block" type="button">Sign in with Google</button>
    <button {{action "signIn" "facebook"}} class="btn btn-lg btn-primary btn-block" type="button">Sign in with Facebook</button>
    <button {{action "showSignInWithEmail"}} class="btn btn-lg btn-primary btn-block" type="button">Sign in with Email</button>
    <button {{action "showSignUp"}} class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
    <br> {{#if signInWithEmail}}

    <label for="loginEmail" class="sr-only">Email address</label>
    {{input type="email" value=loginEmail class="form-control" placeholder="Email address" required="" autofocus=""}}

    <label for="loginPassword" class="sr-only">Password</label>
    {{input type="password" value=loginPassword class="form-control" placeholder="Password" required=""}}

    <button {{action "signIn" "password"}} class="btn btn-lg btn-primary btn-block" type="button">Sign in with Email</button>
    {{/if}}
  </form>
{{else}}
  <form class="form-signin">
    <h2 class="form-signin-heading">Sign up</h2>
    <label for="signUpEmail" class="sr-only">Email address</label>
    {{input type="email" value=signUpEmail class="form-control" placeholder="Email address" required="" autofocus=""}}

    <label for="signUpPassword" class="sr-only">Password</label>
    {{input type="password" value=signUpPassword class="form-control" placeholder="Password" required=""}}

    <label for="confirmPassword" class="sr-only">Confirm Password</label>
    {{input type="password" value=confirmPassword class="form-control" placeholder="Password" required=""}}

    <button {{action "signUp"}} class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
    <button {{action "showSignIn"}} class="btn btn-lg btn-primary btn-block" type="button">Back to sign isignn</button>
  </form>
{{/unless}}